.trade-offer-image {
  border-radius: 10px;
  width: 55%;

  @include content-width-l {
    width: 40%;
  }

  @include content-width-m {
    width: 100%;
  }
}

.flat-image {
  border-radius: 5px;
  max-width: 520px;

  @include content-width-l {
    width: 450px;
  }

  @include tablet-width {
    max-width: 100%;
    width: 100%;
  }
}

.product-manager-image {
  max-width: 532px;
}

.marketer-image {
  max-width: 542px;
}

// .flat-image,
// .product-manager-image,
// .marketer-image {
//   @include content-width-l {
//     width: 50%;
//   }

//   @include content-width-m {
//     width: 40%;
//   }

//   // @include content-width-s {
//   //   display: none;
//   // }

//   @include content-width-s {
//     display: block;
//     margin-top: 30px;
//     width: 80%;
//   }
// }

