$color-brand: #158265;
$color-logo: #173a56;
$color-title: #2f281e;
$color-text: #544837;
$color-links: #2f281e;
$color-hover-links: #ff9900;
$color-border: #bcd0e5;
$color-border-opacity: rgba(188, 208, 229, 0.496913);
$color-button-text: #ffffff;
$color-pager: #efefef;
$color-button-ghost-hover: #feebba;
$color-button-filled-hover: #dabf7b;

$content-width: 1400px;
$content-width-l: 1350px;
$content-width-m: 1150px;
$content-width-s: 951px;
$tablet-width: 768px;
$tablet-width-half: 550px;
$mobile-width: 426px;
$mobile-small-width: 320px;

