@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.otf") format("otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Medium.otf") format("otf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-SemiBold.otf") format("otf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Bold.otf") format("otf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Black.otf") format("otf");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Light.otf") format("otf");
  font-style: normal;
  font-weight: thin;
}

@font-face {
  font-family: "Avenir";
  src: url("./fonts/Avenir-Medium.ttf") format("ttf"), url("./fonts/Avenir-Medium.eot") format("eot"), url("./fonts/Avenir-Medium.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("./fonts/Avenir-Heavy.ttf") format("ttf"), url("./fonts/Avenir-Heavy.eot") format("eot"), url("./fonts/Avenir-Heavy.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}
