.section-benefits {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet-width {
    align-items: flex-start;
  }

  .section-title {
    margin-bottom: 51px;
    max-width: 540px;
    text-align: center;

    @include content-width-s {
      margin-bottom: 20px;
    }

    @include tablet-width {
      margin-bottom: 0;
      width: 100%;
      text-align: left;
    }
  }

  .benefits-button {
    padding: 15px 34px 14px 31px;

    @include tablet-width {
      padding: 10px 30px;
    }

    @include tablet-width-half {
      width: 100%;
    }
  }
}

.benefits {
  margin-bottom: 60px;

  @include tablet-width {
    margin-bottom: 45px;
  }

  @include mobile-width {
    margin-bottom: 25px;
  }

  &-element {
    @include animation (scale(1, 1), ease 0.2s);

    @include content-width-s {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-top: 30px;
    }

    @include mobile-width {
      margin-top: 24px;
    }

    &:hover {
      @include animation (scale(1.1, 1.1), ease 0.2s);

      @include mobile-width {
        @include animation (none, ease 0.2s);
      }
    }

    &-image {
      margin-bottom: 26px;
      width: 100%;
      border-radius: 5px;

      @include content-width-s {
        margin-right: 15px;
        margin-bottom: 0;
      }
    }

    .content-title {
      text-align: center;
      margin-bottom: 13px;

      @include content-width-m {
        @include font (18px, 600, normal, 33px);
        border: 1px solid black;
      }

      @include content-width-s {
        margin-bottom: 0;
      }

      @include mobile-width {
        @include font (16px, 600, normal, 33px);
      }
    }

    &-text {
      @include content-width-m {
        @include font (14px, 500, normal, 26px);
      }
    }
  }
}

