.section-flat {
  @include content-width-s {
    border-top: 1px solid $color-border-opacity;
    border-bottom: 1px solid $color-border-opacity;
  }

  @include mobile-width {
    flex-direction: column-reverse;
  }
}

.grid-two-columns-plus,
.flat-odd {
  .section-title {
    margin-bottom: 27px;

    @include content-width-m {
      margin-bottom: 15px;
    }

    &-simple-text {
      @include font (16px, 500, normal, 26px);
      display: block;
    }
  }

  .simple-text {
    margin-bottom: 25px;

    @include content-width-m {
      margin-bottom: 10px;
    }

    @include mobile-width {
      @include font (14px, 500, normal, 22px);
      margin-bottom: 6px;
    }

    &-higher {
      margin-bottom: 30px;

      @include content-width-m {
        margin-bottom: 14px;
      }
    }
  }

  .content-title-small {
    margin-bottom: 12px;

    @include content-width-m {
      margin-bottom: 10px;
    }
  }
}

.flat-odd {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 27px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;

  @include content-width-s {
    margin: 20px auto;
    flex-direction: column;
    width: 100%;
  }

  @include tablet-width-half {
    width: 100%;
  }

  &-icons {
    width: 135px;
    display: flex;

    &-icon {
      width: 40px;
      height: 40px;
      margin-right: 5px;
    }

    &-icon-plus {
      width: 50px;
    }
  }

  &-contacts {
    display: flex;
    justify-content: space-between;

    @include content-width-m {
      flex-wrap: wrap;
    }

    @include content-width-s {
      margin: 0 auto;
      width: 100%;
    }

    @include tablet-width-half {
      width: 100%;
    }

    &-element {
      display: flex;
      align-items: end;
      width: 24%;
      margin-bottom: 20px;
      margin-right: 20px;

      @include content-width-m {
        width: 40%;
      }

      @include tablet-width-half {
        width: 100%;
      }

      &-img {
        width: 30px;
        margin-right: 20px;
      }

      &-link {
        &:hover {
          color: $color-text;
        }
      }
    }
  }
}

.flat-title {
  margin: 40px 0;
  text-align: left;

  @include content-width-s {
    margin: 20px auto;
    width: 100%;
  }

  @include tablet-width-half {
    width: 100%;
  }
}
