.bottom {
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-start;
  border-top: 1px solid $color-border-opacity;

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-element {
      display: flex;
      margin-bottom: 20px;

      &-img {
        width: 30px;
        margin-right: 10px;
      }
    }
  }

  &-map {
    &-frame {
      max-width: 600px;
      height: 300px;
    }
  }
}
