.grid-two-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include content-width-m {
    align-items: end;
  }

  @include mobile-width {
    flex-direction: column;
  }
}

.grid-two-columns-plus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include content-width-m {
    align-items: end;
  }

  @include mobile-width {
    flex-direction: column;
  }
}

.grid-four-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &-item {
    width: 30%;

    @include content-width-s {
      width: 47%;
    }

    @include tablet-width-half {
      width: 100%;
    }
  }
}
