.grid-two-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include content-width-m {
    align-items: end;
  }

  @include mobile-width {
    flex-direction: column;
  }
}

.grid-four-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &-item {
    width: 48%;

    @include tablet-width {
      width: 100%;
    }
  }
}
