.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: $color-pager;
  z-index: 10;

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1120px;
    padding: 12px 0;

    .logo {
      @include animation (scale(1, 1), ease-in-out 0.5s);
      margin-right: 30px;

      &:hover {
        @include animation (scale(1.2, 1.2), ease-in-out 0.5s);
      }
    }

    &-menu-burger {
      display: block;
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-between;

    @include mobile-width {
      margin-top: 20px;
      width: 100%;
    }

    &-filled {
      padding: 11px 25px 11px 23px;

      @include tablet-width {
        padding: 8px 15px;
      }

      @include tablet-width-half {
        width: 100%;
      }
    }
  }
}

