.header-title {
  @include font (44px, bold, normal, 54px);
  font-family: "Poppins", sans-serif;
  color: $color-title;
  letter-spacing: 1px;

  @include content-width-m {
    @include font (40px, bold, normal, 54px);
  }

  @include content-width-s {
    @include font (38px, bold, normal, 50px);
  }

  @include tablet-width {
    @include font (30px, bold, normal, 50px);
  }

  @include mobile-width {
    @include font (22px, bold, normal, 35px);
  }
}

.section-title {
  @include font (36px, bold, normal, 54px);
  font-family: "Poppins", sans-serif;
  color: $color-title;
  letter-spacing: 1px;

  @include content-width-m {
    @include font (34px, bold, normal, 54px);
  }

  @include content-width-s {
    @include font (32px, bold, normal, 46px);
  }

  @include tablet-width {
    @include font (26px, bold, normal, 44px);
  }

  @include mobile-width {
    @include font (20px, bold, normal, 35px);
  }
}

.section-title-small {
  @include font (34px, bold, normal, 51px);
  font-family: "Poppins", sans-serif;
  color: $color-title;
  letter-spacing: 1px;

  @include content-width-m {
    @include font (32px, bold, normal, 51px);
  }

  @include content-width-s {
    @include font (30px, bold, normal, 46px);
  }

  @include tablet-width {
    @include font (24px, bold, normal, 44px);
  }

  @include mobile-width {
    @include font (22px, bold, normal, 30px);
  }
}

.content-title {
  @include font (22px, 600, normal, 33px);
  font-family: "Poppins", sans-serif;
  color: $color-title;
  letter-spacing: 1px;

  @include content-width-m {
    @include font (20px, 600, normal, 33px);
  }

  @include content-width-s {
    @include font (18px, 600, normal, 33px);
  }

  @include tablet-width {
    @include font (16px, 600, normal, 33px);
  }

  @include mobile-width {
    @include font (14px, 600, normal, 30px);
  }
}

.content-title-middle {
  @include font (20px, 900, normal, 30px);
  font-family: "Avenir", sans-serif;
  color: $color-title;

  @include content-width-m {
    @include font (18px, 900, normal, 30px);
  }

  @include content-width-s {
    @include font (16px, 900, normal, 30px);
  }

  @include tablet-width {
    @include font (14px, 900, normal, 30px);
  }
}

.content-title-small {
  @include font (16px, bold, normal, 26px);
  font-family: "Poppins", sans-serif;
  color: $color-title;
  letter-spacing: 1px;

  @include content-width-s {
    @include font (14px, bold, normal, 26px);
  }
}

p,
li,
a,
button,
figure,
span {
  font-family: "Poppins", sans-serif;
  color: $color-text;

  @include content-width-s {
    @include font (14px, normal, normal, 26px);
  }

  @include tablet-width {
    @include font (14px, normal, normal, 26px);
  }
}

.input {
  @include font (16px, 900, normal, 28px);
  font-family: "Avenir", sans-serif;
  color: $color-border;

  @include content-width-s {
    @include font (14px, bold, normal, 26px);
  }

  @include tablet-width {
    @include font (14px, bold, normal, 26px);
  }
}

.trade-offer-text {
  @include font (18px, normal, normal, 28px);
}

.simple-text {
  @include font (16px, 500, normal, 26px);
}
